* {
  font-family: 'Delius', cursive;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

footer i {
  font-size: 1.5rem;
}

header i {
  font-size: 1.5rem;
}

.profile-pic {
  width: 16rem;
}

.welcome-msg {
  font-weight: bolder;
  font-size: 2.5rem;
  text-shadow: 2px 2px gray;
}

.card-text, .btn-group a {
  font-weight: bold;
}